*.code-workspace
.github
.husky
.vscode
.netlify
dist
examples
src
public
functions
coverage
test

.env*

.eslintignore
.editorconfig
.browserslistrc
.eslintrc.js
.stylelintrc.js
.gitattributes
.prettierignore
.prettierrc.json
.releaserc.json

conduct.md
contributing.md
index.md
tsconfig-server.json
tsconfig.json
tsconfig.node.json
vite.config.ts
publish.config.ts
postcss.config.js
