/* Themed colors */

$dark-orchid: hsl(294deg 63% 46% / 100%);
$purple-plum: hsl(284deg 47% 53% / 100%);
$blue-gray: hsl(213deg 39% 59% / 100%);
$verdigris: hsl(185deg 38% 55% / 100%);
$ocean-green: hsl(166deg 50% 57% / 100%);
$charcoal: hsl(206deg 21% 27% / 100%);
$dark-jungle-green: hsl(126deg 42% 5% / 100%);
$black-shadows: hsl(293deg 11% 73% / 100%);
$silver-sand: hsl(208deg 13% 74% / 100%);
$beau-blue: hsl(201deg 38% 84% / 100%);
$alabaster: hsl(144deg 15% 87% / 100%);
$white: hsl(0deg 0% 100% / 100%);
$pink: hsl(349deg 100% 90% / 100%);
$light-pink: hsl(351deg 77% 82% / 100%);
$mountbatten-pink: hsl(343deg 13% 56% / 100%);
$black-coral: hsl(235deg 6% 38% / 100%);
$cadet: hsl(201deg 17% 37% / 100%);

/* Chosen colors */
$app-color: $charcoal;
$bg-color: $black-shadows;
$primary-color: $verdigris;
$secondary-color: $light-pink;
$info-color: $ocean-green;
$btn-primary-shadow-color: $dark-jungle-green;
$btn-primary-text-color: $black-coral;
$btn-secondary-shadow-color: $mountbatten-pink;
$btn-secondary-text-color: $cadet;

/* Component colors */
$app-bg: linear-gradient(45deg, rgb(100 100 100 / 80%), rgb(150 150 150 / 50%) 70.71%);
$card-bg-color: #fff;
$card-border-color: rgb(0 0 0 / 12.5%);
$btn-upload-color: #ff4500;
$btn-upload-text-color: #fff;
$btn-found-shadow-color: rgb(13 202 240 / 50%);
$btn-found-text-color: #fff;
$btn-mystery-color: #6710f2;
$btn-mystery-shadow-color: rgb(103 16 242 / 50%);
$btn-mystery-text-color: #fff;
$btn-post-color: #d63384;
$btn-post-shadow-color: rgb(214 51 132 / 50%);
$btn-post-text-color: #fff;
$btn-hint-color: rgba(255 255 255 / 50%);
$btn-hint-shadow-color: rgb(255 255 255 / 0%);
$btn-hint-text-color: black;
$btn-swiper-color: rgba(255 255 255 / 2500%);
$tag-text-color: #fff;
$tag-number-color: black;
$tag-number-bg-color: hsl(40deg 100% 80%);
$tag-count-bg-color: #d63384;
$tag-count-text-color: #fff;
$player-name-text-color: #fff;

/* Aliased colors */
$link-color: $primary-color;
$btn-primary-color: $primary-color;
$btn-secondary-color: $secondary-color;
$btn-found-color: $info-color;
