@font-face {
  font-family: trashHand;
  src: url('@/assets/fonts/TrashHand.woff2');
}
@font-face {
  font-family: PermanentMarker;
  src: url('@/assets/fonts/PermanentMarker-x99j.ttf');
}
@font-face {
  font-family: AvenueX;
  src: url('@/assets/fonts/Avenuex-75oB.otf');
}
@font-face {
  font-family: Autography;
  src: url('@/assets/fonts/Autography-DOLnW.otf');
}
@font-face {
  font-family: BetterGrade;
  src: url('@/assets/fonts/BetterGrade-519DV.ttf');
}
@font-face {
  font-family: MarkerNotes;
  src: url('@/assets/fonts/MarkerNotes-6PBq.ttf');
}
@font-face {
  font-family: MarkerNotesItalic;
  src: url('@/assets/fonts/MarkerNotesItalic-xan8.ttf');
}
@font-face {
  font-family: UniSans;
  src: url('@/assets/fonts/uni-sans.heavy-caps.otf');
}
@font-face {
  font-family: PrequelDemo;
  src: url('@/assets/fonts/PrequelDemo-Regular.ttf');
}
@font-face {
  font-family: MarkerScratch;
  src: url('@/assets/fonts/MarkerScratch-Regular.ttf');
}
@font-face {
  font-family: StaleMarker;
  src: url('@/assets/fonts/StaleMarkerV2.ttf');
}
@font-face {
  font-family: TroubleMarker;
  src: url('@/assets/fonts/troublemarkerDEMO.otf');
}
@font-face {
  font-family: WindowMarkers;
  src: url('@/assets/fonts/WindowMarkers.ttf');
}
