@font-face {
  font-family: BetterGrade;
  src: url('@/assets/fonts/BetterGrade-519DV.ttf');
}
@font-face {
  font-family: markernotes;
  src: url('@/assets/fonts/markernotes-6PBq.ttf');
}
@font-face {
  font-family: markernotesitalic;
  src: url('@/assets/fonts/markernotesitalic-xan8.ttf');
}
@font-face {
  font-family: Heartwrecked;
  src: url('@/assets/fonts/Heartwrecked-2Z0W.ttf');
}
@font-face {
  font-family: PrequelRough;
  src: url('@/assets/fonts/Prequel-rough.ttf');
}
@font-face {
  font-family: PrequelRoughItalic;
  src: url('@/assets/fonts/Prequel-roughitalic.ttf');
}
@font-face {
  font-family: Prequel;
  src: url('@/assets/fonts/PrequelDemo-Regular.ttf');
}
