@font-face {
  font-family: BetterGrade;
  src: url('@/assets/fonts/BetterGrade-519DV.ttf');
}
@font-face {
  font-family: Heartwrecked;
  src: url('@/assets/fonts/Heartwrecked-2Z0W.ttf');
}
@font-face {
  font-family: PrequelRough;
  src: url('@/assets/fonts/Prequel-rough.ttf');
}
@font-face {
  font-family: PrequelRoughItalic;
  src: url('@/assets/fonts/Prequel-roughitalic.ttf');
}
@font-face {
  font-family: Prequel;
  src: url('@/assets/fonts/Prequel-Regular.otf');
}
@font-face {
  font-family: PublicSans;
  src: url('@/assets/fonts/PublicSans-VariableFont_wght.ttf');
}
@font-face {
  font-family: Radena;
  src: url('@/assets/fonts/RadenapersonaluseRegular-7BpJR.otf');
}
@font-face {
  font-family: Blackpine;
  src: url('@/assets/fonts/Blackpine-4BEVW.ttf');
}
@font-face {
  font-family: Kingthings;
  src: url('@/assets/fonts/KingthingsPrintingkit-RJAo.ttf');
}
