@import 'fonts';
@import 'colors';

$how-font-family: PrequelRough;
$how-font-size: 2vh;
$btn-hint-font-weight: 1000;
$btn-hint-font-family: 'Circular-Loom';
$btn-hint-font-size: 1.2em;
$btn-swiper-font-size: 20pt;
$title-font-family: markernPrequelRoughotes;
$title-font-size: calc(1.375rem + 1.5vw);
$title-font-weight: 600;
$tag-number-font-family: PrequelRough;
$tag-description-font-size: 1.5rem;
$tag-description-font-weight: 500;
$tag-description-font-family: PrequelRoughItalic;
$tag-number-font-size: 2rem;
$tag-number-font-weight: 500;
$tag-player-font-weight: 800;
$tag-player-font-family: bettergrade;
$tag-player-font-size: 4rem;
$tag-player-line-height: 1rem;
