@import 'fonts';

$app-color: #2c3e50;
$bg-color: rgb(200, 200, 200);
$app-bg: linear-gradient(45deg, rgba(100, 100, 100, 0.8), rgba(150, 150, 150, 0.5) 70.71%),;
$primary-color: #40c4ff;
$secondary-color: #6c757d;
$info-color: #0dcaf0;

$link-color: $primary-color;

$card-bg-color: #fff;
$card-border-color: rgba(0, 0, 0, 0.125);

$btn-primary-color: $primary-color;
$btn-primary-shadow-color: rgb(49 132 253 / 50%);
$btn-primary-text-color: #fff;

$btn-secondary-color: $secondary-color;
$btn-secondary-shadow-color: rgb(130 138 145 / 50%);
$btn-secondary-text-color: #fff;

$btn-upload-color: #ff4500;
$btn-upload-text-color: #fff;

$btn-found-color: $info-color;
$btn-found-shadow-color: rgb(13 202 240 / 50%);
$btn-found-text-color: #fff;

$btn-mystery-color: #6710f2;
$btn-mystery-shadow-color: rgb(103 16 242 / 50%);
$btn-mystery-text-color: #fff;

$btn-post-color: #d63384;
$btn-post-shadow-color: rgb(214 51 132 / 50%);
$btn-post-text-color: #fff;

$title-font-family: AshesAshes;
$title-font-size: calc(1.375rem + 1.5vw);
$title-font-weight: 600;

$tag-text-color: #fff;

$tag-number-bg-color: rgba(0, 0, 0, 0.75);
$tag-number-font-family: AvenueX;
$tag-number-font-size: 5vh;
$tag-number-font-weight: 500;

$tag-player-font-family: AshesAshes;
$tag-player-font-size: 5vh;