.bg-indigo {
  background-color: #6610f2;
}
.bg-pink {
  background-color: #d63384;
}
.custom-file-upload {
  background-color: orangered;
  border-radius: 2rem;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}