@import 'theme';

html {
  min-height: 100vh;
  height: 100%;
}

#app {
  min-height: 100vh;
  color: $app-color;
  background: $app-bg;

  .spinner {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .container {
    a {
      color: $primary-color;
    }

    .card {
      background-color: $card-bg-color;
      border-color: $card-border-color;

      .card-body {
        .btn-hint {
          color: $btn-hint-text-color;
          font-weight: $btn-hint-font-weight;
          background-color: $btn-hint-color;
          border-color: $btn-hint-color;
          font-size: $btn-hint-font-size;
          font-family: $btn-hint-font-family;
          transform: rotate(30deg);

          &:focus {
            box-shadow: 0 0 0 0.25rem $btn-hint-shadow-color;
          }
        }
      }
    }

    button.btn-primary {
      color: $btn-primary-text-color;
      background-color: $btn-primary-color;
      border-color: $btn-primary-color;

      &:focus {
        box-shadow: 0 0 0 0.25rem $btn-primary-shadow-color;
      }
    }

    button.btn-secondary {
      color: $btn-secondary-text-color;
      background-color: $btn-secondary-color;
      border-color: $btn-secondary-color;

      &:focus {
        box-shadow: 0 0 0 0.25rem $btn-secondary-shadow-color;
      }
    }

    .btn-upload {
      color: $btn-upload-text-color;
      background-color: $btn-upload-color;
    }

    button.btn-found {
      color: $btn-found-text-color;
      background-color: $btn-found-color;
      border-color: $btn-found-color;

      &:focus {
        box-shadow: 0 0 0 0.25rem $btn-found-shadow-color;
      }
    }

    button.btn-mystery {
      color: $btn-mystery-text-color;
      background-color: $btn-mystery-color;
      border-color: $btn-mystery-color;

      &:focus {
        box-shadow: 0 0 0 0.25rem $btn-mystery-shadow-color;
      }
    }

    button.btn-post {
      color: $btn-post-text-color;
      background-color: $btn-post-color;
      border-color: $btn-post-color;

      &:focus {
        box-shadow: 0 0 0 0.25rem $btn-post-shadow-color;
      }
    }

    .tag-number {
      color: $tag-number-color;
      background-color: $tag-number-bg-color;
      font-size: $tag-number-font-size;
      font-weight: $tag-number-font-weight;
      font-family: $tag-number-font-family;
      filter: saturate(0.75);
    }

    .player-name {
      color: $tag-text-color;
      font-family: $tag-player-font-family;
      font-weight: $tag-player-font-weight;
      font-size: $tag-player-font-size;
      line-height: $tag-player-line-height;
    }

    .description {
      font-size: $tag-description-font-size;
      font-weight: $tag-description-font-weight;
      font-family: $tag-description-font-family;
      background-color: $tag-number-bg-color;
      filter: saturate(0.75);
    }

    .player-wrapper {
      .player-name {
        color: $player-name-text-color;
      }

      .tag-count {
        color: $tag-count-text-color;
      }
    }

    .pagination {
      padding-bottom: 1em;

      .page-item {
        .page-link {
          color: $primary-color;
          background-color: $btn-primary-text-color;
        }

        &.active {
          .page-link {
            color: $btn-primary-text-color;
            background-color: $primary-color;
            border-color: $primary-color;
          }
        }
      }
    }

    .swiper {
      .swiper-button-prev {
        color: $btn-swiper-color;
        bottom: 0 !important;
        top: 25%;
        left: -0.5rem;
        right: auto;

        // z-index: 99;

        &::after {
          font-size: $btn-swiper-font-size;

          // font-weight: bolder;
        }
      }

      .swiper-button-next {
        color: $btn-swiper-color;
        bottom: 0 !important;
        top: 25%;
        left: auto;
        right: -0.5rem;

        // z-index: 99;

        &::after {
          font-size: $btn-swiper-font-size;

          // font-weight: bolder;
        }
      }

      // .swiper-pagination {
      //   .swiper-pagination-bullet {
      //     width: 30px;
      //     height: 6px;
      //     background-color: transparent;
      //     border-radius: 0;

      //     &.swiper-pagination-bullet-active {
      //       background-color: $btn-swiper-color;
      //     }
      //   }
      // }

      .swiper-slide {
        height: unset;

        &.active {
          flex-basis: max-content;
          align-self: stretch;
        }

        p {
          font-family: $how-font-family;
          font-size: $how-font-size;
        }
      }
    }

    .header-logo {
      .game-title {
        font-family: $title-font-family;
        font-size: $title-font-size;
        font-weight: $title-font-weight;
      }
    }

    .img-wrapper {
      .tag-player {
        color: $tag-text-color;
        font-family: $tag-player-font-family;
        font-weight: $tag-player-font-weight;
        font-size: $tag-player-font-size;
        text-shadow: 2px 2px #292828e6;
        filter: invert(1);
      }
    }

    .vld-overlay .vld-background {
      background: transparent;
    }

    .queue-title {
      font-family: $title-font-family;
      font-size: $title-font-size;
      font-weight: $title-font-weight;
    }
  }
}
