@import 'theme';

html {
  min-height: 100vh;
  height: 100%;
}

body {
  color: $app-color;
}

#app {
  min-height: 100vh;
  color: $app-color;
  background: $app-bg;
  
  .align-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-columns {
    flex-direction: column;
  }

  .spinner {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  // .container {
    a {
      color: $primary-color;
    }

    .card {
      background-color: $card-bg-color;
      border-color: $card-border-color;

      .card-body {
        .btn-hint {
          color: $btn-hint-text-color;
          font-weight: $btn-hint-font-weight;

          // background-color: $btn-hint-color;
          border-color: $btn-hint-color;
          font-size: $btn-hint-font-size;

          // font-family: $btn-hint-font-family;
          // transform: rotate(30deg);

          &:focus {
            box-shadow: 0 0 0 0.25rem $btn-hint-shadow-color;
          }
        }
      }
    }

    button.btn-primary {
      color: $btn-primary-text-color;
      background-color: $btn-primary-color;
      border-color: $btn-primary-color;

      &:focus {
        box-shadow: 0 0 0 0.25rem $btn-primary-shadow-color;
      }
    }

    button.btn-secondary {
      color: $btn-secondary-text-color;
      background-color: $btn-secondary-color;
      border-color: $btn-secondary-color;

      &:focus {
        box-shadow: 0 0 0 0.25rem $btn-secondary-shadow-color;
      }
    }

    button.btn-approve {
      color: $btn-approve-text-color;
      background-color: $btn-approve-color;
      border-color: $btn-approve-color;

      &:focus {
        box-shadow: 0 0 0 0.25rem $btn-approve-shadow-color;
      }
    }

    .btn-upload {
      color: $btn-upload-text-color;
      background-color: $btn-upload-color;
    }

    button.btn-found {
      color: $btn-found-text-color;
      background-color: $btn-found-color;
      border-color: $btn-found-color;

      &:focus {
        box-shadow: 0 0 0 0.25rem $btn-found-shadow-color;
      }
    }

    button.btn-mystery {
      color: $btn-mystery-text-color;
      background-color: $btn-mystery-color;
      border-color: $btn-mystery-color;

      &:focus {
        box-shadow: 0 0 0 0.25rem $btn-mystery-shadow-color;
      }
    }

    button.btn-post {
      color: $btn-post-text-color;
      background-color: $btn-post-color;
      border-color: $btn-post-color;

      &:focus {
        box-shadow: 0 0 0 0.25rem $btn-post-shadow-color;
      }
    }

    .tag-number {
      color: $tag-number-color;
      background-color: $tag-number-bg-color;
      font-size: $tag-number-font-size;
      font-weight: $tag-number-font-weight;
      font-family: $tag-number-font-family;
      filter: saturate(0.75);
    }

    .player-name {
      color: $tag-text-color;
      font-family: $default-font-family;
      font-weight: $tag-player-font-weight;
      font-size: $tag-player-font-size;
      line-height: $tag-player-line-height;
    }

    .tag-date {
      color: $tag-text-color;
      font-family: $tag-date-font-family;
      font-weight: $tag-date-font-weight;
      font-size: $tag-date-font-size;
      line-height: $tag-date-line-height;
    }

    .description {
      font-size: $tag-description-font-size;
      font-weight: $tag-description-font-weight;
      font-family: $tag-description-font-family;
      background-color: $tag-number-bg-color;
      filter: saturate(0.75);
    }

    .player-wrapper {
      .player-name {
        color: $player-name-text-color;
      }

      .tag-count {
        color: $tag-count-text-color;
      }
    }

    .pagination {
      padding-bottom: 1em;

      .page-item {
        .page-link {
          color: $primary-color;
          background-color: $btn-primary-text-color;
        }

        &.active {
          .page-link {
            color: $btn-primary-text-color;
            background-color: $primary-color;
            border-color: $primary-color;
          }
        }
      }
    }

    .swiper {
      .swiper-button-prev {
        color: $btn-swiper-color;
        bottom: 0 !important;
        top: 25%;
        left: -0.5rem;
        right: auto;

        // z-index: 99;

        &::after {
          font-size: $btn-swiper-font-size;

          // font-weight: bolder;
        }
      }

      .swiper-button-next {
        color: $btn-swiper-color;
        bottom: 0 !important;
        top: 25%;
        left: auto;
        right: -0.5rem;

        // z-index: 99;

        &::after {
          font-size: $btn-swiper-font-size;

          // font-weight: bolder;
        }
      }

      // .swiper-pagination {
      //   .swiper-pagination-bullet {
      //     width: 30px;
      //     height: 6px;
      //     background-color: transparent;
      //     border-radius: 0;

      //     &.swiper-pagination-bullet-active {
      //       background-color: $btn-swiper-color;
      //     }
      //   }
      // }

      .swiper-slide {
        height: unset;

        &.active {
          flex-basis: max-content;
          align-self: stretch;
        }

        p {
          font-family: $how-font-family;
          font-size: $how-font-size;
        }
      }
    }

    .header-logo {
      .game-title {
        font-family: $title-font-family;
        font-size: $title-font-size;
        font-weight: $title-font-weight;
      }
    }

    .tag-player {
      color: $tag-text-color;
      font-family: $tag-player-font-family;
      font-weight: $tag-player-font-weight;
      font-size: $tag-player-font-size;

      // text-shadow: 2px 2px #292828e6;
      // filter: invert(1);
    }

    .vld-overlay .vld-background {
      background: transparent;
    }

    .queue-title {
      font-family: $title-font-family;
      font-size: $title-font-size;
      font-weight: $title-font-weight;
    }

    .body-text {
      font-family: $default-font-family;
      font-weight: 100;
      font-size: 1.5rem;
      transform: unset;
    }

    .user-agree {
      font-size: 0.75rem;
      font-style: italic;
    }

    .just-center {
      justify-content: center;
      align-items: center;
    }
  
  .queue-found-tag, .queue-mystery-tag {
    max-width: 600px;
    margin: auto;

    .biketag-button {
      width: 100%;
    }

    .scribble-button .button__children {
      padding: 0;
    }

    .queue-text {
      font-size: 1.2rem!important;
      margin: 1rem;
      text-align: justify;
    }

    .title-cnt {
      position: relative;
      padding: 0;
      z-index: 4;

      .title-q {
        position: relative;
        padding: 0;
        bottom: -37px;

        .scribble-text {
          .queue-title {
            font-size: 1.7rem!important;
            margin: 0 1rem;
          }
        }
      }
    }

    .custom-file-upload {
      border-radius: 2rem;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
    }

    .click-me {
      cursor: pointer;
    }

    .icn-top {
      bottom: -20px;
      right: 0;
    }

    .input-cnt {
      .biketag-input {
        margin: 0 2rem;
        @media (min-width: 470px) {
          margin: 0 auto
        }
      }
    }

    .preview-cnt {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .scribble-button {
        z-index: 3;
        position: absolute;
        transition-property: bottom, right;
        transition-duration: 1s;
      }

      .prev-img{
        width: 100%;
        height: 100%;
        z-index: 0;
        position: absolute;
        object-fit: contain;
      }

      .img-bck {
        z-index: 2;
        @media (min-width: 400px){
          width: 100%;
        }
      }
    }
  }
}

// }
